#status {
    background-color: blueviolet;
    font-family: Helvetica;
    font-size: large;
    color: black;
}

button.list-group-item {
    color: darkslategray;
    font-family: Helvetica;
    font-size: larger;
}

div.error {
    color: darkgray;
    background-color: #dc3545;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    left: 200px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}