#status {
    background-color: blueviolet;
    font-family: Helvetica;
    font-size: large;
    color: black;
}

button.list-group-item {
    color: darkslategray;
    font-family: Helvetica;
    font-size: larger;
}
